<div id="filter-manager">
  <h2 class="subtitle is-5">Filters</h2>           
  <template x-for="(filter, index) in filters">
    <div class="filter-rule level" @change="updateFilters($data)">
      <select
        class="select"
        x-model="filter.field">
        <option value="">Select a field...</option>
        <template x-for="field in fields">
            <option :value="field" x-text="field"></option>
        </template>
      </select>
      <select
        class="select"
        x-model="filter.type">
        <option value="">Select a filter type...</option>
        <option value="=">=</option>
        <option value="<"><</option>
        <option value="<="><=</option>
        <option value=">">></option>
        <option value=">=">>=</option>
        <option value="!=">!=</option>
        <option value="like">like</option>
      </select>
      <input
        class="input"
        x-model="filter.value"
        placeholder="value here...">
      </input>
      <button class="delete" @click="filters.splice(index, 1)"></button>
    </div>
  </template>
  <button
    class="button"
    @click="filters.push({field: null, type: null, value: null})"
    >
    Add filter
  </button>
</div>