<nav class="navbar">
    <a class="navbar-brand" href="/">
        <img src="{{url_for('static', filename='img/pole-cat.svg')}}" alt="logo: a black cat on an electricity pole"
            class="dark-mode-invert" style="height: 3em; width: auto">
        <h1 class="title my-auto px-2 logo">pudl</h1>
    </a>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://catalystcoop-pudl.readthedocs.io/en/latest/data_sources/index.html">
                Data source documentation
            </a>
            <a class="navbar-item"
                href="https://catalystcoop-pudl.readthedocs.io/en/latest/dev/naming_conventions.html">Table naming
                conventions</a>
            <a class="navbar-item" href="https://youtu.be/-mU7QwAZY8c">Tutorial video</a>
            <a class="navbar-item" href="https://forms.gle/ohzyKRoQutqxY3WZ6">Submit feedback</a>
        </div>
        <div class="navbar-end">
            {% if current_user.is_authenticated %}
            <a class="button mx-2 my-1 py-2" href="/logout">
                Log out of {{ current_user.username }}
            </a>
            {% else %}
            <a class="button mx-2 my-1 py-2 is-primary" href="/login">
                Log in or sign up
            </a>
            {% endif %}
        </div>
    </div>
</nav>
