<!doctype html>
<head>
  <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<title>{{ table }} preview - PUDL</title>


<body>
    
<div class="main-content">
    <h1 id="table-name">{{ table }}</h1>
    <button id="csv-download">Download as CSV</button>
    <div class="preview-container">
        <div class="data-docs">
        </div>
        <div class="data-table">
            <perspective-viewer></perspective-viewer>
        </div>
    </div>
</div>
</body>