{% extends "base.html" %}

{% block title %}PUDL Data Dictionary{% endblock %}

{% block content %}

<div class="container is-fluid">


  <div class="notification has-background-info has-text-dark my-3" x-data="{open: true}" x-show="open">
    Welcome! The PUDL viewer is in beta right now. We filmed a short <a class="inline"
      href="https://youtu.be/-mU7QwAZY8c">tutorial video</a>, and would love any <a class="is-inline"
      href="https://forms.gle/ohzyKRoQutqxY3WZ6">feedback</a> you have for the site!
    <button class="delete" @click="open = !open"></button>
  </div>
</div>
<div id="app" class="columns container is-fluid is-flex-grow-1" x-data="tableState">
  <div class="data-dictionary column my-3 is-flex is-flex-direction-column">
    <input class="input is-medium block" type="text" name="q" hx-get="/search" hx-trigger="input changed delay:300ms"
      hx-target="#search-results" hx-replace-url="true" placeholder="Search..." {% if query %}value="{{ query }}" {%
      endif %} />
    <div class="data-dictionary is-flex-grow-1" id="search-results">
      {% include 'partials/search_results.html' %}
    </div>
  </div>
  <div class="preview-panel mt-3 mb-5 box column is-two-thirds is-flex-direction-column" x-show="showPreview"
    x-transition>
    <div class="level">
      <div class="level-left">
        <h2 id="table-name" class="title is-4 level-item my-auto" x-text="tableName ? tableName : ''"></h2>
      </div>
      <div class="level-right">
        <button class="button level-item is-primary" :disabled="exporting || !csvAllowed()" @click="exportCsv"
          :class="{'is-loading': exporting}" x-text="csvText()" x-show="numRowsMatched !== null"></button>
        <button class="delete level-item" @click="showPreview = false;"></button>
      </div>
    </div>
    <h3 x-show="numRowsMatched && !loading" class="subtitle is-6">
      Showing
      <span class="has-text-weight-bold" x-text="numRowsDisplayed.toLocaleString()"></span>
      rows out of
      <span class="has-text-weight-bold" :class="{'has-text-warning': numRowsDisplayed < numRowsMatched}"
        x-text="numRowsMatched?.toLocaleString()"></span>
      rows that match your filters
    </h3>
    <div id="data-table" class="is-flex-grow-1" x-show="!loading"></div>
  </div>
</div>

{% endblock %}
