<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<title>PUDL Data Dictionary</title>

<body>
    
<div class="full-app is-flex is-flex-direction-column">
<nav class="navbar">
    <div class="navbar-brand">
        <h1 class="title my-auto px-2">:3 PUDL</h1>
    </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        FAQ
      </a>

      <a class="navbar-item">
        Data source documentation
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item">
        Log in
      </a>
    </div>
  </div>
</nav>

<div class="columns container is-fluid is-flex-grow-1">
    <div class="data-dictionary column my-3">
        <input
            class="input is-medium"
            type="text"
            name="q"
            hx-get="/search"
            hx-trigger="input changed delay:300ms"
            hx-target="#search-results"
            hx-replace-url="true"
            placeholder="Search..."
        />
        <div class="data-dictionary" id="search-results">
            {% include 'partials/search_results.html' %}
        </div>
    </div>
    <div class="preview-panel column is-two-thirds" data-theme="dark">
        <div class="level">
            <h2 id="table-name" class="title is-4 level-left my-auto">{{ table }}</h2>
            <button class="button level-right is-primary" id="csv-download">Download as CSV</button>
        </div>
        <div class="data-table">
            <perspective-viewer
                settings="true"
            ></perspective-viewer>
        </div>
    </div>
</div>
</div>
</body>