.full-app {
  max-height: 100vh;
}

#app {
  min-height: 0;
}

.navbar {
  height: 3rem;
}

.data-dictionary {
  overflow-y: scroll;
}

.field-name {
  max-width: 40%;
  overflow: wrap;
}

.preview-panel {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .dark-mode-invert {
    filter: invert(1);
  }
}
