body {
  box-sizing: border-box;
}
perspective-viewer { 
  min-width: 20em;
  height: 80em;
}

.main-content {
  display: flex;
  justify-content: center;
}

.search-panel {
  flex: 0 1 40em;
  min-width: 20em;
  height: 80em;
  overflow-y: scroll;
}

.preview-panel {
  flex: 1;
}

.preview-panel[style*="display: none"] ~ .search-panel {
  flex: 0 1 120em;
}