perspective-viewer { 
  height: calc(100vh - 9rem);
  border: 1px solid #444950; /* to match perspective Pro Dark theme */
}

.full-app {
  height: 100vh;
}

.navbar {
  height: 3rem;
}

.data-dictionary {
  max-height: calc(100vh - 5.5rem);
  overflow-y: scroll;
}

.preview-panel {
  display: none;
  background-color: #242526; /* to match perspective Pro Dark theme */
}

table {
  table-layout: fixed;
}

.field-name {
  max-width: 40%;
  overflow: wrap;
}